{% extends "layout.html" %}
{% block title %} 文件列表 - {{ config.PROJECT_NAME }}{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block header %}
<div class="container">
	<ul class="header-left">
		<a class="important" href="{{ config.UPLOAD }}"><li title="upload image">{{ config.UPLOAD_TEXT }}</li></a>
		<a href="{{ config.RANDOM }}"><li title="random visit">{{ config.RANDOM_TEXT }}</li></a>
	</ul>
	<ul class="header-right">
		{% if not session.login %}
		<a href="{{ config.REGISTER }}"><li title="register">{{ config.REGISTER_TEXT }}</li></a>
		<a href="{{ config.LOGIN }}"><li title="login">{{ config.LOGIN_TEXT }}</li></a>
		{% else %}
		<a href="{{ config.USERINFO }}"><li title="userinfo">{{ temp.userId }}</li></a>
		<a href="{{ config.LOGOUT }}"><li title="logout">{{ config.LOGOUT_TEXT }}</li></a>
		{% endif %}
	</ul>
</div>
{% endblock %}
{% block content %}
<div class="container">
{% if not fl %}
	<span>there is no image</span>
{% endif %}
{% for filename in fl %}
	<a href="uploads?name={{ filename }}"><img class="thumbs" src="thumbs?name={{ filename }}" /></a>
{% endfor%}
</div>
{% endblock %}
{% block footer %}
<div class="container">
	<ul class="footer-left">
		<li>&copy;2017-{{ current_year }}</li>
		<li>|</li>
		<li title="当然是小鸟啦">{{ config.PROJECT_NAME }}</li>
		<li>|</li>
		<li><a href="{{ config.GITHUB }}" title="神秘交易地点">Github</a></li>
	</ul>
	<ul class="footer-right">
		<li><span title="{{ motto.from }}">{{ motto.text }}</span></li>
	</ul> 
</div>
{% endblock %}
{% block script %}
{% endblock %}