<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=600, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{template}}/css/main.css" />
<title>上传图片</title>
</head>
<body>
<input type="file" id="file"/>
<div id="area" class="autoLR" title="目前支持5M以下的jpg, png, gif, webp">点击上传或将图片拖到此处</div>
<input type="button" id="uploadButton" value="上传"/>
<div id="preview" class="autoLR"></div>
<div id="footer" class="autoLR">
	<ul class="footer-left">
		<li>&copy;2017</li>
		<li>-</li>
		<li title="某个图床">Kotori Project</li>
		<li title="random visit"><a href="?random">随便看看</a></li>
		<li title="image list"><a href="?list">文件列表</a></li>
	</ul>
	<ul class="footer-right">
		{{userinfo}}
		<li>|</li>
		<li><a href="https://github.com/xubeiyan/kotori-project">Github</a></li>
	</ul>
	
</div>
</body>
<script type="text/javascript" src="%template%/js/upload.js"></script>
</html>