div#area {
	width: 600px;
	height: 200px;
	line-height:200px;
	text-align:center;
	background-color: #EEE;
	cursor: pointer;
}
div#area:hover {
	background-color: #DDD;
}

div#preview {
	width: 600px;
}

div#list {
	width:1000px;
}

div#footer {
	margin-top:5px;
	width: 600px;
}

div#footer-wide {
	margin-top:5px;
	margin-bottom:5px;
	width:1000px;
}

img#uploadImg {
	width: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

input#file {
	display:none;
}

input#uploadButton {
	display:none;
	width:600px;
	height:30px;
	margin-left:auto;
	margin-right:auto;
}

div.autoLR {
	margin-left: auto;
	margin-right: auto;
}

ul.footer-left {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

ul.footer-left li{
	display: inline-block;
}

ul.footer-right {
	margin: 0;
	padding: 0;
	list-style: none;
	float:right;
}

ul.footer-right li{
	display: inline-block;
}


a {
	color: #999;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}