*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: #2B2B28;
}

/* #F8F8F8 #F1D6AB #E3B04B #2B2B28 */

/* Header部分 */
header {
	width: 100%;
	background-color: #F1D6AB;
	box-shadow: 0 5px 5px #DDD;
	position: sticky;
	top: 0;
	z-index: 10;
}

header > .container {
	display: flex;
	margin: 0 1em;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

header > .container > .menu {
	width: 2em;
	height: 2em;
}

header > .container > .left-part {
	position: absolute;
	left: 0;
	top: 3em;
	background-color: #E3B04B;
}

.left-part.hide {
	display: none;
}

header ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

header li {
	border: 1px solid #E3B04B;
	border-radius: .25em;
	padding: .25em 1em;
}

header a {
	color: black;
	text-decoration: none;
}


/* 页面部分 */
main {
	z-index: 2;
	margin-top: 0.5em;
	position: relative;
}

main>input#file {
	display:none;
}

main>div#area {
	width: 100%;
	height: 5em;
	line-height: 5em;
	text-align: center;
	background-color: #EEE;
	cursor: pointer;
	margin-bottom: 0.5em;
}


main>input#uploadButton {
	display: none;
	width: 300px;
	height: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5em;
	
	border: 1px solid #E3B04B;
	border-radius: 0.5em;
	background-color: #E3B04B;
}

/* 随机页面 */
main>div#preview {
	width: 100%;
}

main>div#preview img#uploadImg {
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

main>div#preview>div#details-area {
	margin-top: 10px;
	box-shadow: 0 -5px 5px #DDD;
}

main>div#preview>div#details-area>p.details {
	width: 100%;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;	
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #EEE;
}

main>div#preview>div#details-area>p.details>span {
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

main>div#preview>p#progress {
	display: block;
	width: 300px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	border: 1px inset #466;
	border-radius: 2px;
	background: linear-gradient(#cc0, #cc0);
	background-size: 0% 100%;
	background-repeat: no-repeat;
}

main>div#preview>p#progress.success {
	background: linear-gradient(#0c0, #0c0);
}

main>div#preview>p#progress.failed {
	background: linear-gradient(#c00, #c00);
}

main>div#preview>p.result {
	width: 300px;
    word-break: break-all;
    margin-left: auto;
    margin-right: auto;
}

main>div#notice {
	margin-top: 0.5em;
	background-color: #FEE;
}

main>div#notice>span {
	display: block;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

/* 列表 */
main>div#list {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

main>div#list img {
	width: 200px;
}

main>div.page-select-container {
	position: fixed;
	top: 12em;
	left: calc(50% - 150px);
	width: 300px;
}

main>div.page-select-container button {
	display: inline-block;
	height: 4em;
	line-height: 4em;
	border: none;
	width: 25px;
	text-align: center;
}

main>div.page-select-container>a {
	color: #000;
}

main>div.page-select-container button.gray-a {
	background-color: #AAA;
}

main>div.page-select-container button.gray-b {
	background-color: #CCC;
}

main>div.page-select-container button.left {
	float: left;
}

main>div.page-select-container button.right {
	float: right;
}

/* 登录页面 */
main>div#show-message {
	background-color: #EEE;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

main>div#show-message>p {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	width: 300px;
}

main>div#login-panel {
	padding-top: 1em;
}

main>div#login-panel>p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;

}

main>div#login-panel>p.button-area {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

main>div#login-panel>p>input {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

main>div#login-panel>p>input.text {
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	border-radius: 0.5em;
	border: 1px solid #BBB;
}

main>div#login-panel>p>input.button {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-radius: 0.5em;
	background-color: #FFF;
	width: 145px;
	display: inline-block;
	cursor: pointer;
}

main>div#login-panel>p>input.disabled {
	border: 1px solid #EEE;
}

main>div#login-panel>p>input#login-button {
	border: 1px solid #DDD;
}

main>div#login-panel>p>input#login-button:hover {
	background-color: #DDD;
}

main>div#login-panel>p>input#register-button {
	border: 1px solid #E3B04B;
}

main>div#login-panel>p>input#register-button:hover {
	background-color: #E3B04B;
}

main>div#login-panel>p>input#register-button-s {
	border: 1px solid #DDD;
	width: 300px;
}

main>div#error-msg {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	padding: 0.5em;
	border: 1px solid #C00;
	display: none;
}

/* 管理 */
main>div#list img {
	width: 200px;
}

main>div#list>div.file-detail {
	
}

main>div#list>div.file-detail>div.left {
	width: 100%;
}

main>div#list>div.file-detail>div.right {
	width: 100%;
}

main>div#list>div.file-detail>div.right>span {
	display: inline-block;
	word-break: break-all;
	margin-right: 1em;
}

main>div#list>button#confirm {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-radius: 0.5em;
	background-color: #FFF;
	border: 1px solid #DDD;
	width: 200px;
	display: block;
	margin: 1em;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

main>div#list>button#confirm:hover {
	background-color: #DDD;
}

main>div#errmsg {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

/* 页脚 */

footer {
	width: 100%;
	height: 2em;
}

footer>ul.footer-menu {
	margin: 0;
	padding-left: 0;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	list-style: none;
}

footer>ul.footer-menu>li {
	display: inline-block;
	padding: 0;
	height: 2em;
	line-height: 2em;
}

footer>ul.footer-menu>li.right {
	float: right;
}

footer>ul.footer-menu>li.right img{
	vertical-align: middle;
	height: 1em;
}

footer>ul.footer-menu>li.right span.notify{
	display: none;
}

footer>ul.footer-menu>li.right a {
	text-decoration: none;
	color: #000;
}
