*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	position: relative;
	min-height: 100vh;
}

/* #F8F8F8 #F1D6AB #E3B04B #2B2B28 */
:root {
	--content-width: 1000px;
	--header-height: 2em;
	--header-shadow-height: .25em;
	--main-margin-top: 1em;
	--footer-height: 2em;
	--first-color: #F1D6AB;
	--first-color-hover: #EEE;
	--second-color: #E3B04B;
}

/* Header部分 */
header {
	width: 100%;
	/* height: var(--header-height); */
	background-color: var(--first-color);
	box-shadow: 0 var(--header-shadow-height) 5px #DDD;
	display: flex;
	place-content: center;
	position: sticky;
	top: 0;
}

/* header container */
header > .container {
	width: var(--content-width);
	display: flex;
	justify-content: space-between;
}

/* header container左边部分 */
header > .container > .left-part {
	width: max-content;
}

header ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding-left: 0;
}

header > .container a {
	text-decoration: none;
	color: black;
}

header > .container a:hover {
	background-color: var(--first-color-hover);
	border-radius: 10px;
}
/* 当前选择的tab */
header > .container a.select {
	border-radius: 10px;
	background-color: white;
}

header > .container > .right-part a:hover {
	background-color: var(--second-color);
}

header > .container li {
	padding: .5em 1em;
}

header > .container li:hover {
	text-decoration: underline;
}

/* header container 右边部分 */
header > .container > .right-part {
	width: max-content;
}
/* 主体部分 */

main {
	padding-top: var(--main-margin-top);
	padding-bottom: var(--footer-height);
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

main>input#file {
	display:none;
}

main>div#area {
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #EEE;
	cursor: pointer;
}

main>div#area:hover {
	background-color: #DDD;
}

main>div#preview {
	width: 1000px;
}

main>div#preview>div#image-area img#uploadImg {
	width: 100%;
	display: block;
}

/* 图像信息 */
main>div#preview>p.details {
	width: 100%;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;	
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #EEE;
}

main>div#preview>p.details>span {
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* 上传进度条 */
main>div#preview>p#progress {
	display: block;
	width: 1000px;
	padding: 0;
	margin: 2px 0;
	border: 1px inset #466;
	border-radius: 2px;
	background: linear-gradient(#cc0, #cc0);
	background-size: 0% 100%;
	background-repeat: no-repeat;
}

main>div#preview>p#progress.success {
	background: linear-gradient(#0c0, #0c0);
}

main>div#preview>p#progress.failed {
	background: linear-gradient(#c00, #c00);
}

main>div#preview>p.result {
	width: 1000px;
    word-break: break-all;
    margin-left: auto;
    margin-right: auto;
}

main>div#preview>div#details-area>p.details {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

main>input#uploadButton {
	display: none;
	width: 1000px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
}

main>div#notice {
	margin-top: 0.5em;
	background-color: #FEE;
}

main>div#notice>span {
	display: inline-block;
	padding-left: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

main>div.page-select-container {
	
}

main>div.page-select-container button {
	display: inline-block;
	height: 4em;
	border: none;
	border-radius: 1em;
	line-height: 4em;
	width: 20%;
	text-align: center;
	cursor: pointer;
}

main>div.page-select-container>a {
	color: #000;
}

main>div.page-select-container button.gray-a {
	background-color: #AAA;
}

main>div.page-select-container button.gray-a:hover {
	background-color: #999;
}

main>div.page-select-container button.gray-b {
	background-color: #CCC;
}

main>div.page-select-container button.gray-b:hover {
	background-color: #BBB;
}

main>div.page-select-container button.disabled {
	background-color: #EEE;
	cursor: not-allowed;
}

main>div.page-select-container button.left {
	float: left;
}

main>div.page-select-container button.right {
	float: right;
}

/* 登录页面 */
main>div#show-message {
	background-color: #EEE;
	padding-top: 1em;
	padding-bottom: 1em;
}

main>div#show-message>p {
	margin-left: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

main>div#login-panel {
	padding-top: 4em;
}

main>div#login-panel>p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;

}

main>div#login-panel>p.button-area {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

main>div#login-panel>p>input {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

main>div#login-panel>p>input.text {
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	border-radius: 0.5em;
	border: 1px solid #BBB;
}

main>div#login-panel>p>input.button {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-radius: 0.5em;
	background-color: #FFF;
	width: 145px;
	display: inline-block;
	cursor: pointer;
}

main>div#login-panel>p>input.disabled {
	border: 1px solid #EEE;
}

main>div#login-panel>p>input#login-button {
	border: 1px solid #DDD;
}

main>div#login-panel>p>input#login-button:hover {
	background-color: #DDD;
}

main>div#login-panel>p>input#register-button {
	border: 1px solid #E3B04B;
}

main>div#login-panel>p>input#register-button:hover {
	background-color: #E3B04B;
}

main>div#login-panel>p>input#register-button-s {
	border: 1px solid #DDD;
	width: 300px;
}

main>div#login-panel>p>input#register-button-s:hover {
	background-color: #DDD;
}

main>div#error-msg {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	padding: 0.5em;
	border: 1px solid #C00;
	display: none;
}

/* 图片管理页面 */
main>div#list img {
	width: 200px;
}

main>div#list>div.file-detail {
	
}

main>div#list>div.file-detail>div.left {
	width: 20%;
	display: inline-block;
}

main>div#list>div.file-detail>div.right {
	width: 79%;
	display: inline-block;
}

main>div#list>div.file-detail>div.right>span {
	display: inline-block;
	margin-right: 1em;
}

main>div#errmsg {
	display: none;
	border: 1px solid #F00;
	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 1em;
}

main>div#list>button#confirm {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-radius: 0.5em;
	background-color: #FFF;
	border: 1px solid #DDD;
	width: 300px;
	display: block;
	margin: 1em;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

main>div#list>button#confirm:hover {
	background-color: #DDD;
}

/* 页脚 */
footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 2em;
}

footer>ul.footer-menu {
	margin: 0;
	padding-left: 0;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	list-style: none;
}

footer>ul.footer-menu>li {
	display: inline-block;
	padding: 0;
	height: 2em;
	line-height: 2em;
}

footer>ul.footer-menu>li.right {
	float: right;
}

footer>ul.footer-menu>li.right img {
	vertical-align: middle;
	height: 1em;
}

footer>ul.footer-menu>li.right a {
	text-decoration: none;
	color: #000;
}

footer>ul.footer-menu>li.right a:hover {
	text-decoration: underline;
}
