*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	position: relative;
	min-height: 100vh;
}

/* #F8F8F8 #F1D6AB #E3B04B #2B2B28 */
:root {
	--content-width: 1000px;
	--header-height: 2em;
	--header-shadow-height: .25em;
	--main-margin-top: 1em;
	--footer-height: 2em;
	--first-color: #F1D6AB;
	--first-color-hover: #D1B68B;
	--second-color: #F3C05B;
	--second-color-hover: #E3B04B;
	--upload-color: #F8F8F8;
	--upload-hover-color: #ABABAB;
}

/* Header部分 */
header {
	width: 100%;
	/* height: var(--header-height); */
	background-color: var(--first-color);
	box-shadow: 0 var(--header-shadow-height) 5px #DDD;
	display: flex;
	place-content: center;
	position: sticky;
	top: 0;
}

/* header container */
header > .container {
	width: var(--content-width);
	display: flex;
	justify-content: space-between;
}

/* header container左边部分 */
header > .container > .left-part {
	width: max-content;
}

header > .container > .menu {
	display: none;
}

header ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding-left: 0;
}

header > .container a {
	text-decoration: none;
	transition: background-color 200ms linear;
	color: black;
	border-radius: 10px;
}

header > .container a:hover {
	background-color: var(--first-color-hover);
}
/* 当前选择的tab */
header > .container a.select {
	border-radius: 10px;
	background-color: white;
}

header > .container > .right-part a:hover {
	background-color: var(--second-color-hover);
}

header > .container li {
	padding: .5em 1em;
}

header > .container > ul > a > li:hover {
	text-decoration: underline;
}

/* header container 右边部分 */
header > .container > .right-part {
	width: max-content;
}

header > .container > .right-part .select{
	background-color: var(--second-color);
}
/* 主体部分 */

main {
	padding-top: var(--main-margin-top);
	padding-bottom: var(--footer-height);
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

/* 原生上传文件框 */
main>input#file {
	display:none;
}

main > #area {
	width: 100%;
	height: 200px;
	font-size: larger;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--upload-color);
	cursor: pointer;
	border: 2px dashed #DDD;
	transition: background-color 200ms linear;
}

#area:hover {
	background-color: var(--upload-hover-color);
	color: #FEFEFE;
}

#area.preview {
	height: 140px;
	transition: height 400ms linear;
}

main > div#upload-button-area {
	position: relative;
	--height: 60px;
}

main > div#upload-button-area.hide > #uploadButton, 
main > div#upload-button-area.hide > #nsfw-mark {
	height: 0;
	
}

#uploadButton, #nsfw-mark {
	transition: height 400ms linear;
}

div#upload-button-area > #nsfw-mark {
	border: none;
	width: 11%;
	margin-left: 89%;
	padding: 0;
	padding-left: 2em;
	padding-right: .25em;
	height: var(--height);
	background-color: var(--second-color);
	border-radius: 1em;
}

div#upload-button-area > #nsfw-mark.selected {
	background-color: crimson;
	color: white;
}

#uploadButton {
	width: 975px;
	position: absolute;
	left: 0;
	height: var(--height);
	font-size: larger;
	border: none;
	border-radius: 1em;
	padding: 0;
	background-color: var(--first-color);
	margin-left: auto;
	margin-right: auto;
}

#uploadButton:hover {
	color: white;
	background-color: var(--first-color-hover);
	transition: all 200ms ease-in-out;
}

#uploadButton.over {
	cursor: pointer;
	width: 925px;
	transition: all 400ms ease-in-out;
}

main>div#preview {
	width: 1000px;
}

main>div#preview>div#image-area  {
	display: flex;
	justify-content: center;
}

img#uploadImg {
	width: 100%;
}
/* 图像信息 */

/* 上传进度条 */
main>div#preview>p#progress {
	display: block;
	color: white;
	width: 1000px;
	padding: .5em 2em;
	margin: 0;
	border-radius: 5px;
	background: linear-gradient(rgb(247, 247, 83), rgb(187, 187, 85));
	background-size: 0% 100%;
	background-repeat: no-repeat;
}

main>div#preview>p#progress.success {
	background: linear-gradient(#0c0, #0c0);
}

main>div#preview>p#progress.failed {
	background: linear-gradient(#c00, #c00);
}

main>div#preview>p#result {
	width: 1000px;
    word-break: break-all;
	padding: .75em 2em;
    margin: 0 auto;
	
	border-top: none;
	border-radius: 5px;
	top: -5px;
	position: relative;
}

p#result.failed {
	border: 1px solid #c00;
}

p#result.success {
	border: 1px solid #0c0;
}
/* 文件信息 */
main > #preview > #details-area {
	margin: .5em auto;
}
main > #preview > #details-area> .details {
	margin: 0;
	padding: .25em 2em;
}

#details-area> .details > span:first-child {
	display: inline-block;
	width: 5em;
}

#details-area> p.details:nth-child(odd) {
	background-color: var(--first-color);
}

#details-area> p.details:nth-child(even) {
	background-color: var(--first-color-hover);
}


/* 通知 */
main>div#notice {
	margin-top: 0.5em;
	background-color: #FEE;
}

main>div#notice>span {
	display: inline-block;
	padding-left: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

main>div.page-select-container button {
	display: inline-block;
	height: 4em;
	border: none;
	border-radius: 1em;
	line-height: 4em;
	width: 20%;
	text-align: center;
	cursor: pointer;
}

main>div.page-select-container>a {
	color: #000;
}

main>div.page-select-container button.gray-a {
	background-color: #AAA;
}

main>div.page-select-container button.gray-a:hover {
	background-color: #999;
}

main>div.page-select-container button.gray-b {
	background-color: #CCC;
}

main>div.page-select-container button.gray-b:hover {
	background-color: #BBB;
}

main>div.page-select-container button.disabled {
	background-color: #EEE;
	cursor: not-allowed;
}

main>div.page-select-container button.left {
	float: left;
}

main>div.page-select-container button.right {
	float: right;
}

/* 登录页面 */
main>div#show-message {
	background-color: #EEE;
	padding-top: 1em;
	padding-bottom: 1em;
}

main>div#show-message>p {
	margin-left: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

main>div#login-panel {
	padding-top: 4em;
	padding-bottom: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type="text"],input[type="password"] {
	width: 500px;
	border: 1px solid #CCC;
	padding: .25em .5em;
	font-size: large;
	margin-bottom: .5em;
	border-radius: 5px;
}

input[type="text"]:focus,input[type="password"]:focus {
	background-color: #ededed;
	border: 1px solid var(--first-color);
	outline: none;
}

input[type="button"] {
	font-size: large;
	padding: .25em 0;
	border-radius: 0.5em;
	border: none;
	background-color: #EEE;
	width: 245px;
	display: inline-block;
	cursor: pointer;
	transition: background-color 400ms linear;
}

input[type="button"]:hover {
	background-color: #CCC;
}

input[type="button"].primary {
	background-color: var(--first-color);
}

input[type="button"].primary:hover {
	background-color: var(--second-color-hover);
}

main>div#error-msg {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	padding: 0.5em;
	border: 1px solid #C00;
	display: none;
}

/* 图片管理页面 */
main > #list {
	display: flex;
	flex-wrap: wrap;
	gap: .5em;
	justify-content: space-around;
}

main>div#list img {
	height: 180px;
}

main > #list img:hover {
	box-shadow: 0 0 3px 3px #ccc;
}

main>div#list>div.file-detail>div.left {
	width: 20%;
	display: inline-block;
}

main>div#list>div.file-detail>div.right {
	width: 79%;
	display: inline-block;
}

main>div#list>div.file-detail>div.right>span {
	display: inline-block;
	margin-right: 1em;
}

main>div#errmsg {
	display: none;
	border: 1px solid #F00;
	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 1em;
}

main>div#list>button#confirm {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-radius: 0.5em;
	background-color: #FFF;
	border: 1px solid #DDD;
	width: 300px;
	display: block;
	margin: 1em;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

main>div#list>button#confirm:hover {
	background-color: #DDD;
}

/* 页脚 */
footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	height: max-content;
	box-shadow: 0 0 5px 2px #eee;
	background: rgb(238,238,238);
	background: linear-gradient(123deg, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 30%, rgba(204,204,204,1) 70%, rgba(238,238,238,1) 100%);
}

footer>ul.footer-menu {
	margin: 0;
	padding-left: 0;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

footer>ul.footer-menu>li {
	display: flex;
	align-items: center;
	padding: 0;
	height: 2em;
}

footer>ul.footer-menu>li.right img {
	height: 1em;
}

.right > a > span {
	padding-left: .5em;
}

footer>ul.footer-menu>li.right a {
	text-decoration: none;
	color: black;
	display: flex;
	align-items: center;
}

footer>ul.footer-menu>li.right a:hover {
	text-decoration: underline;
}
