body {
	margin: 0;
}

/* #F8F8F8 #F1D6AB #E3B04B #2B2B28 */

/* Header部分 */
header {
	width: 100%;
	background-color: #F1D6AB;
	box-shadow: 0 5px 5px #DDD;
}

header>ul.header-menu {
	margin: 0;
	padding-left: 0;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	list-style: none;

}

header>ul.header-menu>li {
	display: inline-block;
	padding-left: 0.5em;
	padding-right: 0.5em;
	height: 2em;
	line-height: 2em;
}


header>ul.header-menu>li.right {
	background-color: #E1C69B;
	float: right;
	margin-left: 0.1em;
}

header>ul.header-menu>li:hover {
	background-color: #E3B04B;
}

header>ul.header-menu>li>a {
	color: #2B2B28;
	text-decoration: none;
}

main {
	margin-top: 1em;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

main>input#file {
	display:none;
}

main>div#area {
	width: 600px;
	height: 200px;
	line-height:200px;
	text-align:center;
	background-color: #EEE;
	cursor: pointer;
}

main>div#area:hover {
	background-color: #DDD;
}

main>div#preview {
	width: 600px;
}

main>div#preview>img#uploadImg {
	width: 100%;
	display: block;
}

/* 图像信息 */
main>div#preview>p.details {
	width: 100%;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;	
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #EEE;
}

main>div#preview>p.details>span {
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* 上传进度条 */
main>div#preview>p#progress {
	display: block;
	width: 600px;
	padding: 0;
	margin: 2px 0;
	border: 1px inset #466;
	border-radius: 2px;
	background: linear-gradient(#cc0, #cc0);
	background-size: 0% 100%;
	background-repeat: no-repeat;
}

main>div#preview>p#progress.success {
	background: linear-gradient(#0c0, #0c0);
}

main>div#preview>p#progress.failed {
	background: linear-gradient(#c00, #c00);
}

main>div#preview>p.result {
	width: 600px;
    word-break: break-all;
    margin-left: auto;
    margin-right: auto;
}

main>input#uploadButton {
	display: none;
	width: 600px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
}

main>div#notice {
	margin-top: 0.5em;
	background-color: #FEE;
}

main>div#notice>span {
	display: inline-block;
	padding-left: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 2em;
}

footer>ul.footer-menu {
	margin: 0;
	padding-left: 0;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	list-style: none;
}

footer>ul.footer-menu>li {
	display: inline-block;
	padding: 0;
	height: 2em;
	line-height: 2em;
}

footer>ul.footer-menu>li.right {
	float: right;
}

div#list-container {
	width: 1200px;
	display: flex;
	align-items: center;
}

div#list-container a:hover {
	text-decoration: none;
}

div#list {
	width:1000px;
}

div.page-switch {
	width: 50px;
	height: 100px;
	text-align: center;
	background-color: #EEE;
	cursor: pointer;
	line-height: 100px;
}

div.page-switch:hover {
	background-color: #DDD;
}

div#login-panel {
	width: 200px;
	border: 1px solid #DDD;
	border-radius: 5px;
	background-color: #EEE;
	padding:20px 200px 20px 200px;
}

div#login-panel label {
	display:block;
}

div#login-panel input#register-button {
	width: 100%;
	height: 30px;
	border: 0px;
	background-color: #CCC;
	border-radius :2px;
	cursor: pointer;
}

div#login-panel input#register-button:hover {
	background-color: #999;
}

div#login-panel input#login-button {
	width: 100%;
	height: 30px;
	border: 0px;
	background-color: #DDD;
	border-radius :2px;
	cursor: pointer;
}

div#login-panel input#login-button:hover {
	background-color: #CCC;
}

div#login-panel input.input-box {
	width: 188px;
	height: 25px;
	font-size: 16px;
	border-radius:2px;
	border: 1px solid #333;
	margin-top: 2px;
	margin-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
div#login-panel div#error-msg {
	color: red;
}

div#footer {
	margin-top:5px;
	width: 600px;
}

div#footer-wide {
	margin-top:5px;
	margin-bottom:5px;
	width:1000px;
}



a.important {
	color: #333;
	text-shadow: #CCC 0.1em 0.1em 0.2em;
	/* font-weight: bold; */
}

a:hover {
	text-decoration: underline;
}

a.upload {
	color: #000;
	text-decoration: underline;
}

div.file-detail {
	display: flex;
	align-items: flex-end;
}

div.file-detail span.id {
	width: 400px;
	display: inline-block;
	background-color: azure;
}
div.file-detail span.uploader {
	width: 120px;
	display: inline-block;
	background-color: aliceblue;
}

div.file-detail span.filesize {
	width: 200px;
	display: inline-block;
	background-color: whitesmoke;
}

div.file-detail span.filename {
	width: 400px;
	display: inline-block;
	background-color: beige;
}


div.file-detail span.filetype {
	width: 200px;
	display: inline-block;
	background-color: honeydew;
}

div.file-detail span.special {
	width: 120px;
	display: inline-block;
	background-color: lightyellow;
}

div.autoLR div#errmsg {
	color: red;
}

span.important {
	color: #666;
}

button#confirm {
	width: 1000px;
	height: 30px;
}