*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

.container {
  width: 1200px;
}

.main-part {
  min-height: calc(100vh - 4em);
  display: flex;
  justify-content: center;
  align-items: center;
}