<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="%template%/css/main.css" />
<title>文件列表</title>
</head>
<body>
<div id="list" class="autoLR">%imagelist%</div>
<div id="footer-wide" class="autoLR">
	<ul class="footer-left">
		<li>&copy;2017</li>
		<li>-</li>
		<li title="某个图床">Kotori Project</li>
		<li title="奇怪的按钮"><a href="?random">随便看看</a></li>
	</ul>
	<ul class="footer-right">
		<li><a href="?login">想传更大文件</a></li>
		<li><a href="?register">想签定契约</a></li>
		<li>|</li>
		<li><a href="https://github.com/xubeiyan/kotori-project">Github</a></li>
	</ul>
	
</div>
</body>
<!--<script type="text/javascript" src="%template%/js/tools.js"></script>-->
</html>