<main>
	<div id="show-message">
		<p>仅供测试</p>
		<p>提供特性如下：</p>
		<p>（登录后）允许上传文件可达10MiB，允许设置自己上传图片可见性</p>
	</div>
	<div id="login-panel">
		<p><input id="username" type="text" class="text" placeholder="用户名"/></p>
		<p><input id="password" type="password" class="text" placeholder="密码"/></p>
		<p class="button-area">
			<input id="login-button" type="button" class="button" value="登录" />
			<input id="register-button" type="button" class="button" value="注册" />
		</p>
	</div>
	<div id="error-msg"></div>
</main>