<main>
	<div id="login-panel">
		<p><input id="id" type="text" class="text disabled" readonly="readonly" value="{% id %}"/></p>
		<p><input id="username" type="text" class="text disabled" readonly="readonly" value="{% username %}"/></p>
		<p><input id="oldpass" type="password" class="text" placeholder="oldpass"/></p>
		<p><input id="newpass" type="password" class="text" placeholder="newpass"/></p>
		<p><input id="confirm" type="password" class="text" placeholder="confirm"/></p>
		<p class="button-area">
			<input id="register-button-s" type="button" class="button" value="更新信息">
		</p>
	</div>
	<div id="error-msg"></div>
</main>