.delete-button {
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.delete-button.hidden {
  opacity: 0;
  cursor: not-allowed;
}

.color-light .delete-button {
  background: var(--second-color);
  color: var(--fourth-color)
}

.color-light .delete-button:hover,.color-dark .delete-button:hover {
  background: red;
  color: white;
  border: 1px solid red;
}

.color-dark .delete-button {
  background: var(--first-color-d);
  color: white;
}

.color-dark .delete-button:hover,.color-dark .delete-button:hover {
  background: red;
  color: white;
  border: 1px solid red;
}