.footer {
  width: 100vw;
  height: 2em;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.footer > .space-between {
  display: flex;
  justify-content: space-between;
}

.heart {
  font-size: large;
  color: red;
}

.footer.color-light {
  background-color: var(--first-color);
}

.footer.color-dark {
  background: var(--second-color-d);
  color: white;
}