.header {
  width: 100%;
  height: 2em;
  position: sticky;
  display: flex;
  justify-content: center;
}

/* 亮色主题 */
.header.color-light {
  background-color: var(--second-color);
  color: black;
}

/* 暗色主题 */
.header.color-dark {
  background-color: var(--first-color-d);
}

.vertical-center {
  display: flex;
  align-items: center;
}