.preview-background {
  width: 90vw;
  height: 90vh;
  inset: 5vh 5vw 5vh 5vw;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5em;
}

.preview-background.hide {
  display: none;
}

.preview-background img {
  max-width: 90vw;
  max-height: 90vh;
}