.dialog-small {
  width: 40em;
  max-width: 90%;
  max-height: 80em;
  padding: 1em;
  border-radius: 1em;
  position: relative;
}

.color-light .dialog-small {
  background: var(--second-color);
}

.color-dark .dialog-small {
  background: var(--first-color-d);
}

.dialog-small > .title {
  font-size: 1.2em;
  font-weight: bold;
}