.upload-button {
  height: 35em;
  width: var(--secondary-width);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  border-radius: 3em;
  transition: height 500ms ease-in-out;
}

.upload-button:hover {
  cursor: pointer;
}

.upload-button .hide {
  display: none;
}

.upload-button.thin {
  height: 6em;
}

.color-light .upload-button {
  background: var(--second-color);
  border: 3px dashed var(--third-color);
}

.color-light .upload-button:hover {
  background: var(--first-color);
}

.color-dark .upload-button {
  background: var(--first-color-d);
  border: 3px dashed var(--third-color-d);
}

.color-dark .upload-button:hover {
  background: var(--second-color-d);
}

.not-upload {
  color: red;
  font-weight: bold;
}

.upload-progress {
  width: 20em;
  border-radius: .5em;
  padding: 0 .5em;
  border: 1px solid var(--third-color);
  text-align: right;
}