.dialog-container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  width: 80%;
  max-height: 50em;
  padding: 1em;
  border-radius: 1em;
  position: relative;
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.color-light .dialog {
  background: var(--second-color);
}

.color-dark .dialog {
  background: var(--first-color-d);
}

.dialog > .image {
  display: block;
  max-width: 100%;
  max-height: 40em;
  object-fit: contain;
}

.status-bar {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.download-button {
  min-width: 6em;
  padding: .5em;
}

.color-light .download-button {
  background: var(--first-color);
}

.color-dark .download-button {
  color: white;
  background: var(--second-color-d);
}