.thumb {
  height: 200px;
}

.image-list-container {
  padding: 1em;
  border-radius: 1em;
  background: rgb(221, 215, 207);
  background: linear-gradient(90deg, rgba(221, 215, 207, 1) 0%, rgba(222, 207, 172, 1) 35%, rgba(246, 229, 204, 1) 100%);
}

.image-list {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 1em;

}

.image-list>.image-item {
  position: relative;
}

.image-item>img {
  display: block;
}

.cover {
  position: absolute;
  inset: 0;
}

/* èµ */
.likes {
  position: absolute;
  left: .5em;
  bottom: .5em;
  display: flex;
  align-items: center;
  opacity: 0;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 .5em .5em rgba(255, 255, 255, 0.5);
}

.likes > .heart {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

.cover:hover .likes {
  opacity: 1;
}

.likes > .likes-num {
  
}