.image-list-container {
  padding: 1em;
  border-radius: 1em;
}

.color-light .image-list-container {
  background: rgb(221, 215, 207);
  background: linear-gradient(90deg, rgba(221, 215, 207, 1) 0%, rgba(222, 207, 172, 1) 35%, rgba(246, 229, 204, 1) 100%);
}

.color-dark .image-list-container {
  background: rgb(58, 32, 106);
  background: linear-gradient(90deg, rgb(64 52 86) 0%, rgb(66 39 100) 35%, rgb(86 76 104) 100%);
}

.image-list {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 1em;
  /* justify-content: space-evenly; */
}

.image-list>.image-item {
  position: relative;
  background-size: cover;
  background-position: center;
}

.image-item>.thumb {
  display: block;
  opacity: 0;
  height: 200px;
  max-width: 280px;
  object-fit: cover;
  transition: opacity 300ms ease-in-out;
  position: relative;
}

.image-item::before {
  content: '';
  position: absolute;
  inset: 0;
}

.color-light .image-item::before {
  background-color: rgba(255, 255, 255, 0.1);
}

.color-dark .image-item::before {
  background-color: rgba(0, 0, 0, 0.1);
}

.thumb.load {
  opacity: 1;
}

.cover {
  position: absolute;
  inset: 0;
}

/* 赞 */
.likes {
  position: absolute;
  left: .5em;
  bottom: .5em;
  display: flex;
  align-items: center;
  opacity: 0;
}

.color-light .likes {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 .5em .5em rgba(255, 255, 255, 0.5);
}

.color-dark .likes {
  background: rgba(8, 8, 8, 0.5);
  box-shadow: 0 0 .5em .5em rgba(8, 8, 8, 0.5);
}


.likes>.heart {
  width: 1.5em;
  height: 1.5em;
  padding-right: .25em;
  cursor: pointer;
}

.cover:hover .likes {
  opacity: 1;
}